@import "layout";

.points-acp-dashboard {
  .tab-content {
    margin-top: $vp-rhythm-l;
  }
}

.btn-separator:after {
    content: ' ';
    display: block;
    float: left;
    background: #ADADAD;
    margin: 0 10px;
    height: 34px;
    width: 1px;
}

.pointer {
  cursor: pointer;
}